<rml-nz-form #appFrom (submitForm)="onSubmit($event)" class="container" [query]="query$">

  <!--  Standard form input types -->
  <!-- <rml-nz-field type="text" key="id" disabled="true"></rml-nz-field> -->
  <rml-nz-field key="notes" label="Notes" required></rml-nz-field>

  <!--  Group validation -->
  <!-- <rml-nz-field-group key="pax" [validator]="paxValidator">
    <rml-nz-field type="email" key="emailAddress" required></rml-nz-field>
    <rml-nz-field type="email" key="emailAddressConfirm" required></rml-nz-field>
  </rml-nz-field-group> -->

  <!--  Show/Hide visiblity of fields -->
  <!-- <rml-nz-field type="select" key="brave" [options]="braveOptions" required  [visible]="showBrave" ></rml-nz-field>
  <rml-nz-field type="checkbox" key="showBrave" (valueChanges)="showBraveChange($event)" ></rml-nz-field> -->

  <div class="alert alert-danger" *ngIf="appFrom.error">{{appFrom.error}} </div>

  <div class="form-row">
    <button type="submit" class="btn btn-primary {{appFrom.valid  ? '': 'is-invalid'}}"
      (click)="appFrom.submit()">Save</button>
  </div>

</rml-nz-form>
