<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 1</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>nav 2</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>nav 3</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 4</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer> <button nz-button nzType="primary" (click)="open()">Open Drawer</button> <button nz-button nzType="primary" (click)="showModal()">Open Modal</button>
    </nz-footer>
  </nz-layout>
</nz-layout>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Basic Drawer" (nzOnClose)="close()" >
  <ng-container *nzDrawerContent>
    <p>Some contents...</p>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </ng-container>
</nz-drawer>

<nz-modal [(nzVisible)]="modalVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal>
