/* You can add global styles to this file, and also import other style files */
@import url('ng-zorro-antd/src/ng-zorro-antd.min.css');
// @import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import "ag-grid-community/dist/styles/ag-grid.scss";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
// node_modules\ng-zorro-antd\src\ng-zorro-antd.css

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.sick-days-warning {
  border-left: solid 1px red;
}

.sick-days-breach {
  color: red !important;
  font-weight: bold;
}

.my-class-1 {
  background-color: pink;
}

.rag-element {
  background-color: lightcoral;
}
